.Container {
  background-color: rgba(149, 149, 149, 0.476);
  height: 30vh;
  width: 80%;
  padding: 0 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .Quote {
    display: flex;
    align-items: center;
  }
}
